/*Styles for oscilloscope vis app */

body {
    background-color: #a7a7a7;
}
#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
canvas {
    border-radius: 15px;
    overflow: hidden;
}
.button-xsmall {
    font-size: 70%;
}
.button-control {
    width: 50px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-color: rgba(110, 110, 110, 0.5);
}
#timeBack {
    background-image: url("../images/backward.png");
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#timePause {
    background-image: url("../images/pause.png");
}
#timeForward {
    background-image: url("../images/forward.png");
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.mainTitle {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
}
.header {
    text-align: center;
    margin-top: 0px;
}
.footer {
    width: 100%;
}
.channels {

}
.buttonLabel {
    text-align: center;
    padding: 5px;
}
.dataStatus {
    width: 12%;
    overflow: hidden;
    background-color: #ff0000;
    margin: 5px 35px;
}
.timeControls {
    width: 50%;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.infoCell {
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}
.dialControl {
    padding: 20px;
    text-align: center;
}
.controlTitle {
    width: 90%;
    text-align: center;
    padding: 10px;
}
.channelSelect {
    margin-top: 30px;
    text-align: center;
}
#chan {
    margin-top: 10px;
}
.spinner {
    margin-bottom: 5px;
    width: 40px;
    height: 25px;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 5px;
}
