/*Styles for oscilloscope vis app */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    background-color: #a7a7a7;
}
#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
canvas {
    border-radius: 15px;
    overflow: hidden;
}
.centred {
    text-align: center;
}
.button-xxsmall {
    font-size: 35%;
    vertical-align: middle;
}
.button-xsmall {
    font-size: 70%;
    vertical-align: middle;
}
.button-medium {
    font-size: 100%;
}
.button-control {
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-color: rgba(110, 110, 110, 0.5);
}
.hide {
    display: none;
}
#channelName {

}
#channelText {
    margin: 1% 3%;
}
.centreText {
    text-align: center;
}
#timeBack {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.playBack {
    padding: 0;
    border: 0;
    background: #6e6e6e;
}
#timePause {

}
#timeForward {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.mainTitle {
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    margin: 15px 0;
}
.header {
    margin-top: 0;
}
.headerContainer {
    margin-bottom: 10%;
}
.channelHeader {
    text-align: center;
    margin: 10px 0;
}
.footer {
    width: 100%;
}
.channels {
    margin-top: 1%;
}
.streamStatus {
    width: 20%;
}
.valueDisplay {
    background: black;
    color: white;
    padding: 2% 10%;
    vertical-align: middle;
}
#streamLabel {
    margin-top: 3%;
}
.dataStatus {
    width: 50%;
    margin: 6% 2%;
    height: 1em;
    overflow: hidden;
    background-color: #ff0000;
}
#controlContainer {
    margin-top: 1%;
}
.streamInfo {
    letter-spacing: normal;
}
.timeControls img {
    width: 85%;
}
.infoCell {
    margin-top: 10px;
    margin-bottom: 10px;
}
.dialControl {
    padding: 0;
}
.controlTitle {
    width: 90%;
    padding: 5px;
}
.channelSelect {
    margin-top: 30px;
    text-align: center;
}
#chan {
    margin-top: 10px;
}
.spinner {
    margin-bottom: 5px;
    width: 40px;
    height: 25px;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 5px;
}
.infoBackground {
    background: #a7a7a7;
}
.errorBackground {
    background: #a7a7a7;
}
.infoFont {
    color: #1b8de7;
    font-size: 1.25em;
}
.errorFont {
    color: #ff0000;
    font-size: 1.25em;
}
.rounded {
    border-radius: 15px;
}
#all {
    margin-top: 30px;
}
#waitConnection,
#connectionError {
    position: fixed;
    width: 25%;
    top: 25%;
    left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#errorOK {
    margin-top: 3%;
}